# Data files
data/raw/
data/processed/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class